body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    color: #3D3D3D;
  }
  
  h1 {
    font-style: italic;
    position: absolute;
    top: 5px;
    left: 34%;
    color: rgba(0, 139, 219, 0.85);
  }
  
  video {
    display: block;
  }

  button{
    opacity: 0;
  }
  


  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
  }
  .video{
    position: absolute;
  }
  .camView {
    position: relative;
    top: 4pc;
    left: 25%;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  
  .camView p {
    position: absolute;
    padding: 5px;
    left: 25%;
    background-color: rgba(2, 144, 226, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
  }
  
  .highlighter {
    background: rgba(0, 255, 0, 0.25);
    left: 25%;
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
  }